.outer-container{
  display: flex;
  flex-direction: row;    
  justify-content: center; 
  align-items: center;
  width: 257px;
  height: 130px;
  background-color: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.box-first {
  width: 60px;
  height: 56px;
  text-align: center;
  border: #B24242 solid 1px;
  border-radius: 8px 0px 0px 8px;
  background-color: #FFFFFF;
  vertical-align: middle;
  line-height: 56px;
  color: #B24242;
  font-size: 21px;
}
.box-second {
  width: 60px;
  height: 52px;
  text-align: center;
  border: #B24242 solid 1px;
  border-left: 0;
  background-color: #FBE8E8;
  vertical-align: middle;
  line-height: 56px;
  color: #B24242;
  font-size: 21px;
  
}
.box-third {
  width: 60px;
  height: 56px;
  text-align: center;
  border: #B24242 solid 1px;
  border-radius: 0px  8px 8px 0px;
  background-color: #B24242;
  vertical-align: middle;
  line-height: 56px;
  color:#FFFFFF;
  font-size: 21px;
}

.box-second::-webkit-inner-spin-button, 
.box-second::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
textarea:focus, input:focus{
  outline: none;
}